.html{
  border: 17px solid transparent;
  border-image: url(./images/58bd4fc9ebfccc1f2de419529bbf1a12.jpg) 30 round;
}
body {
  text-align: center;
  background-color: peachpuff;
  
}

h1 {
  font-size: 5rem;
  color: #ff0000;
  font-family: "Arvo", cursive;
  text-shadow: 3px 0 #DA0463;

}

footer {
  color: #0037ff;
  font-family: sans-serif;
}

.w {
  background-image: url("images/tom1.png");
}

.a {
  background-image: url("images/tom4.png");
}

.s {
  background-image: url("images/snare.png");
}

.d {
  background-image: url("images/kick.png");
}

.j {
  background-image: url("images/crash.png");
}

.k {
  background-image: url("images/tom3.png");
}

.l {
  background-image: url("images/tom2.png");
}

.set {
  margin: 10% auto;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.pressed {
  box-shadow: 0 3px 4px 0 #DBEDF3;
  opacity: 0.5;
}

.red {
  color: red;
}

.drum {
  outline: none;
  border: 10px solid #aeb4b5;
  font-size: 5rem;
  font-family: 'Arvo', cursive;
  line-height: 2;
  font-weight: 900;
  color: #DA0463;
  text-shadow: 3px 0 #DBEDF3;
  border-radius: 15px;
  display: inline-block;
  width: 150px;
  height: 150px;
  text-align: center;
  margin: 10px;
  background-color: white;
}
